<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Test page</title>
<script type="text/javascript" src="../javascript/mootools.1-4-5.js"></script>
<script type="text/javascript" src="../javascript/vmvc/vmvc.js"></script>
<script type="text/javascript">
window.addEvent('domready', function() {
/*
	var m = new Model('Todos', {name: 'Ben', todos: ['One','Two'], people: [
		{first: 'Jill', last: 'Doe'},
		{first: 'Jane', last: 'Doe'},
		{first: 'Jade', last: 'Doe'},
	]});
	var v = new View('Todos', 'target', '#template');
	v.load();
	m.set('name', 'Joseph');
	m.set('dog', 'none');
	console.log(m.get('people.0.first'));
	m.set('people.push', {first:'Johanna', last: 'Doe'});
	//m.remove('people.0');
	//m.set('people.3.last', 'Doe');
	console.log(m.get());
	v.defineTag('bazinga', 'array', function(template, key, value){
		return this._evaluateSingleTag(template, key, -value.clean().length, 'bazinga');
	})
	v.populate(m);
	console.log(v.render());
*/
});
</script>
<script type="text/javascript">
window.addEvent('domready', function() {
	var c = new Controller(['todos']);
	var todos = c.get('todos');
	todos.set('people.push', {first:'Johanna', last: 'Doe'});
	todos.set('name', 'Benjamin');
	todos.remove('people.1');
});
</script>
</head>
<body>
<div id="todosTarget"></div>
<script id="todosModel" type="application/json">
{name: 'Ben', todos: ['One','Two'], people: [
	{first: 'Jill', last: 'Doe'},
	{first: 'Jane', last: 'Doe'},
	{first: 'Jade', last: 'Doe'}
]}
</script>
<script id="todosView" type="text/template">
{{# This is a comment. }}
{{if !name}}
	<p>There is no name to call you.</p>
{{else name}}
	<p>Hello, {{name}}! How are you, {{name}}?</p>
{{/if name}}
<p>Here are your todos:</p>

{{if todos}}
	<ul>
	{{list todos}}
		<li>{{index todos}}: {{this}}</li>
	{{/list}}
	</ul>
{{else !todos}}
	<p>There are no todos, {{name}}, sorry.</p>
{{/if todos}}

{{if people}}
<ul>
{{list people}}
	<li>{{index people}}: {{first}} {{last}}</li>
{{/list}}
</ul>
<p>There are {{count people}} people.</p>
<p>There are {{bazinga people}} people.</p>
{{first people}}
	<p>The first person is: {{first}} {{last}}.</p>
{{/first}}
{{last people}}
	<p>The last person is: {{first}} {{last}}.</p>
{{/last}}
{{random people}}
	<p>A random person is: {{first}} {{last}}.</p>
{{/random}}
{{/if people}}

{{# potential features}}

</script>
</body>
</html>