<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Test page</title>
<script type="text/javascript" src="../javascript/mootools.1-4-5.js"></script>
<script type="text/javascript" src="../javascript/vmvc/vmvc.js"></script>
<script type="text/javascript">
window.addEvent('domready', function() {
	var c = new Controller(['todos']);
});
</script>
<style>
.done {
	color: green;
	text-decoration: line-through;
}
</style>
</head>
<body>
<form id="todoForm">
	<input type="text" name="item" />
	<input type="hidden" name="done" value="false" />
	<input type="submit"/>
</form>
<div id="todosTarget"></div>
<script id="todosModel" type="application/json">
{items: [
	{item: 'Have fun Johanna', done: false}
]}
</script>
<script id="todosView" type="text/template">
{{if items}}
	<ol {{add items from todoForm}}>
	{{list items}}
		<li>
			{{if done}}
				<input type="checkbox" checked {{set items.index.done to false on click}} />
				<span class="done">{{item}}</span>				
				<a href="#" {{remove items.index on click}}>Remove</a>
			{{else !done}}
				<input type="checkbox" {{set items.index.done to true on click}} />
				<span class="undone">{{item}}</span>
				<a href="#" {{remove items.index on click}}>Remove</a>
			{{/if done}}
		</li>
	{{/list}}
	</ol>
	<a href="#" {{save todos on click}}>Save</a>
{{else !items}}
	<p>There are no todo items. Try adding one with the form above.</p>
{{/if items}}
</script>
</body>
</html>